---
import { IProduct } from '@/utils/data';
import CategoryGroup from '../components/Category_Group.astro';
import ProductCategories from '../components/Product_Categories';

export interface Props {
  products: IProduct[];
}
const { products } = Astro.props;

const categories = [
  ['Pants'],
  ['T-Shirts'],
  ['Sweaters', 'Coats'],
  ['Shirts'],
  ['Blouses'],
  ['Bags'],
  ['Lencerie'],
  ['Others'],
];
---

<div class="m-auto w-[95%] rounded-b-lg bg-[var(--secondary-bg-color)]">
  <ProductCategories categories={categories} />
  {
    categories.map((categoryGroup) => {
      const categoryProducts = products.filter((product) =>
        categoryGroup.includes(product.category)
      );
      return (
        <CategoryGroup
          categoryProducts={categoryProducts}
          categoryGroup={categoryGroup}
        />
      );
    })
  }
</div>
