@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-gray: #292d32;
  --transparent-gray: #fffaf4d6;
  --transparent-gray-1: #f5ece3;
  --light-gray: #dad1bc;
  --light-gray-1: #dad1bce0;
  --light-gray-2: #ebe2cc;
  --light-gray-2: #d5c9afe0;

  --dark-bg-color: #292d32;
  --light-bg-color: #dad1bc;

  --primary-bg-color: var(--light-gray-1);
  --secondary-bg-color: #ffffff;

  --font-primary-color: #333333;
  --font-secondary-color: #555555;
  --font-terceary-color: #666666;

  --ico-primary-color: #555555;

  -webkit-font-smoothing: antialiased;

  --bs-font-sans-serif: Poppins, Helvetica, sans-serif;
  --bs-font-monospace: Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  font-family: var(--bs-font-sans-serif);
  font-weight: 400;
  color: var(--font-primary-color);
  background-color: var(--primary-bg-color);

  max-width: 1024px;
  margin: 0 auto;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

/* [data-color-scheme='dark'] {
  --primary-bg-color: var(--dark-bg-color);
  --secondary-bg-color: #444444;

  --font-primary-color: #ffffff;
  --font-secondary-color: #555555;
  --font-terceary-color: #ffffff;

  --ico-primary-color: #ffffff;

  color-scheme: dark;

  img,
  button,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    opacity: 70%;
  }

  input,
  .magnifyingGlass {
    background-color: #292d32;
    border-color: #444444;
  }
} */

* {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: auto;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  object-position: center center;
  position: relative;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}
.product-card {
  border-radius: 0.475rem;
  border: 1px solid #dfe3e6;
}
