---
import Layout from '@/layout/Layout.astro';
---

<Layout title="404 Not Found">
  <div class="flex w-full items-center justify-center">
    <div class="flex flex-col text-center text-6xl font-bold">
      <div>404</div>
      <div class="text-xl font-light text-black">(Page Not Found)</div>
    </div>
  </div>
</Layout>
