---
import { Picture } from '@astrojs/image/components';

export interface Props {
  name: string;
  src: string;
}

const { src, name } = Astro.props;
---

<div class="flex-shrink-0 w-full">
  <div class="relative w-[90%] shadow-md my-3 mx-auto rounded-md">
    <Picture
      src={src}
      formats={['webp', 'avif', 'jpeg']}
      widths={[200, 400, 800]}
      aspectRatio="9:3"
      sizes="(max-width: 800px) 100vw, 800px"
      alt={name}
    />
  </div>
</div>
<style></style>
