---
import type { IProduct } from '../utils/data';
import ProductItem from './Product_Item.astro';

export interface Props {
  categoryProducts: IProduct[];
  categoryGroup: string[];
}
const { categoryProducts, categoryGroup } = Astro.props;
---

<div class="w-full">
  <div
    class="opacity-[var(--dark-reduced-opacitity-1)] my-3 mx-auto w-[85%] border-b-[2px] border-solid border-[#dfe3e6]"
  >
  </div>
  <h1
    class="opacity-[var(--dark-reduced-opacitity-1)] m-auto mb-3 w-[88%] text-start font-semibold text-[var(--font-terceary-color)]"
  >
    {categoryGroup.join(' & ')}
  </h1>
  <div class="m-auto flex w-full flex-wrap">
    {
      categoryProducts.map((categoryProduct) => (
        <ProductItem product={categoryProduct} />
      ))
    }
  </div>
</div>
