---
import FindProducts from './FindProducts';
import { InstagramIcon, ShoppingCart, StarIcon } from './Icons';

export interface IProps {}
const {} = Astro.props;
---

<nav class="my-5 mx-auto flex h-auto w-[95%] items-center justify-center">
  <div
    class="flex w-[90%] flex-row items-center justify-center max-md:justify-between"
  >
    <FindProducts />
    <div
      id="toggleThemeBtn"
      class="flex w-1/3 justify-around max-md:justify-between"
    >
      <StarIcon stroke={'var(--ico-primary-color)'} height={15} />
      <InstagramIcon stroke="var(--ico-primary-color)" height={15} />
      <ShoppingCart stroke="var(--ico-primary-color)" height={15} />
    </div>
  </div>
</nav>
<script>
  const htmlElement = document.querySelector('html');
  htmlElement?.setAttribute('data-color-scheme', 'light');
  const toggleThemeBtn = document.querySelector(
    '#toggleThemeBtn'
  ) as HTMLDivElement;
  toggleThemeBtn.addEventListener('click', toggleTheme);

  function toggleTheme() {
    console.log('toggleTheme');

    const htmlElement = document.querySelector('html') as HTMLHtmlElement;
    if (htmlElement.getAttribute('data-color-scheme') === 'dark') {
      htmlElement.setAttribute('data-color-scheme', 'light');
    } else {
      htmlElement.setAttribute('data-color-scheme', 'dark');
    }
  }
</script>
