---
import type { IProduct } from '../utils/data';
import ProductDescription from './Product_Description';
import { Picture } from '@astrojs/image/components';

export interface Props {
  product: IProduct;
}
const { product } = Astro.props;
---

<div class={`w-[47%] pb-4`}>
  <div class="product-card m-auto w-[95%] shadow-md">
    <div
      id="product-item"
      data-value={product.slug}
      class="relative w-full overflow-hidden rounded-t-lg"
    >
      <Picture
        src={product.image.src}
        alt={product.image.name}
        formats={['jpeg', 'webp', 'avif']}
        loading="lazy"
        widths={[200, 400, 800]}
        aspectRatio="1:1"
        sizes="(max-width: 800px) 75vw, 800px"
      />
    </div>
    <ProductDescription product={product} />
  </div>
</div>
